:root {
  background-color: #eee;
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ddd;
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 7.3rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4.6rem;
}

h4 {
  font-size: 3.9rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.3rem;
}

p {
  font-size: 1.7rem;
}

.red-text {
  color: #ff6347;
}

.back-color:nth-child(even) {
  background: #333;
  -webkit-box-shadow: 0.3rem 0.3rem 1rem #333;
          box-shadow: 0.3rem 0.3rem 1rem #333;
}

.back-color:nth-child(odd) {
  background: #ccc;
  -webkit-box-shadow: 0.3rem 0.3rem 1rem #333;
          box-shadow: 0.3rem 0.3rem 1rem #333;
}

/* menu */
.menu {
  font-size: 1.3rem;
  margin: 0;
  position: absolute;
  display: inline-block;
  z-index: 10;
}

.menu a {
  text-decoration: none;
  color: #ddd;
}

#menu1 {
  color: #ff6347;
}

.link-top {
  top: 7vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.link-about {
  top: 50%;
  left: 7vw;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.link-skills {
  bottom: 7vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.link-contact {
  top: 50%;
  right: 7vw;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}

.arrow {
  position: absolute;
  z-index: 10;
  color: #fff;
  font-size: 1.5rem;
}

#up-arrow {
  display: none;
  right: 7vw;
  top: 8vh;
  -webkit-animation: arrow-up 2s infinite;
  animation: arrow-up 2s infinite;
}

#down-arrow {
  left: 7vw;
  bottom: 8vh;
  -webkit-animation: arrow-d 2s infinite;
  animation: arrow-d 2s infinite;
}

@-webkit-keyframes arrow-d {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0.8rem);
    opacity: 0;
  }
}

@keyframes arrow-d {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0.8rem);
            transform: translate(0, 0.8rem);
    opacity: 0;
  }
}

@-webkit-keyframes arrow-up {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -0.8rem);
    opacity: 0;
  }
}

@keyframes arrow-up {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -0.8rem);
            transform: translate(0, -0.8rem);
    opacity: 0;
  }
}

/* common */
.container {
  overflow: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  height: 100vh;
  scroll-padding-top: 5vh;
}

.section {
  height: 90vh;
  text-align: center;
  scroll-snap-align: start;
  scroll-padding: 40px;
  margin: 5vh 5vw;
}

/* icons */
.skill-icon, .social-icons a {
  list-style-type: none;
  display: inline-block;
}

.skill-icon li, .social-icons i {
  float: left;
  font-size: 4rem;
  margin: 0 1rem;
  color: #555;
}

.skill-icon i:hover, .social-icons i:hover {
  opacity: .7;
}

/* top page */
.hero-contents {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Fredericka the Great", cursive;
}

.buruburu {
  display: inline-block;
  margin: 1.5rem 0;
  cursor: pointer;
}

.buruburu:hover {
  -webkit-animation: buruburu 200ms 100;
          animation: buruburu 200ms 100;
}

@-webkit-keyframes buruburu {
  0% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
            transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    -webkit-transform: translate(2px, 2px) rotateZ(1deg);
            transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    -webkit-transform: translate(0px, 2px) rotateZ(0deg);
            transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    -webkit-transform: translate(2px, 0px) rotateZ(-1deg);
            transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
            transform: translate(0px, 0px) rotateZ(0deg);
  }
}

@keyframes buruburu {
  0% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
            transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    -webkit-transform: translate(2px, 2px) rotateZ(1deg);
            transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    -webkit-transform: translate(0px, 2px) rotateZ(0deg);
            transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    -webkit-transform: translate(2px, 0px) rotateZ(-1deg);
            transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
            transform: translate(0px, 0px) rotateZ(0deg);
  }
}

/* slider */
#about, #skills, #contact {
  position: relative;
}

#about h2, #skills h2, #contact h2 {
  display: inline-block;
  line-height: 70vh;
}

.slider {
  position: absolute;
  height: 70vh;
  width: 40vw;
  top: 10vh;
}

.slider-r {
  background: rgba(250, 250, 250, 0.4);
  right: 5vw;
}

.slider-l {
  background: rgba(250, 250, 250, 0.4);
  left: 5vw;
}

.description {
  position: absolute;
  top: 10vh;
  width: 36vw;
  height: 70vh;
}

/* about section */
#about h2 {
  color: #777;
}

#about .description {
  left: 7vw;
  text-align: left;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2vw;
  margin: 5rem 0;
}

.about-me i, .about-me p, .about-me h6 {
  color: #555;
}

.about-me p {
  padding: 1rem 0;
}

.about-me i {
  line-height: 1.5rem;
  font-size: 3rem;
}

/* skills section */
#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills .description {
  right: 5vw;
  float: right;
  text-align: center;
}

.skill-icon {
  list-style-type: none;
  display: block;
  padding-left: 0;
  line-height: 70vh;
}

.skill-icon li {
  float: left;
  font-size: 4rem;
  margin: 1rem;
}

#myWorkBtn {
  position: absolute;
  width: 15rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border: 0.2rem solid #fff;
  font-size: 1.4rem;
  background: transparent;
  border-radius: 2rem .5rem 1rem .5rem / .5rem 2rem .5rem 1.8rem;
  right: 7vw;
  bottom: 7vw;
  color: #fff;
}

/* contact section */
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact h2 {
  color: #777;
}

#contact .description {
  left: 7vw;
}

#contact .social-icons {
  line-height: 70vh;
}
/*# sourceMappingURL=style.css.map */